<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="public/js/main.js"></script>
    <title>{{.Title}}</title>
  </head>
  <body ng-app>
    <h1>{{.Title}}</h1>
    <input type="text" id="player" placeholder="player name"/>
  </body>
</html>
